
<div style="display: flex;">
  <form style="margin-right:300px; margin-top:150px;">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form> 

<img style="margin-top: 30px;" src="../../../assets/1.jpg">
</div>
<!-- 
<h1><b>Showing pics</b></h1>

<button (click)="next()">next</button>
<button (click)="slideShow()">SlideShow</button>
<button (click)="stop()">Stop</button>
<button (click)="previous()">Previous</button>
    
<img [src]="srcImg" width="500px" height="400px"> -->